1. Python Syntax and Basics

Comment

In [1]:
# This is ccomment
print("Hello, World") # This prints a greeting

Hello, World

In [11]:
"""
This iss a multiple line commen
in python
"""

'\nThis iss a multiple line commen\nin python\n'

Printing to the Console

In [5]:
print("My name is Chita Chiamaka")

My name is Chita Chiamaka

In [6]:
print('My comment is Sofia De first')

My comment is Sofia De first

Variables aand Date Types

In [12]:
name = "Chita" # String
age = 30 #Integer
height = 5.5 # Float
is_student = True # Boolean

Basic Operations

Arithmetic Operaions

In [13]:
addition = 5+ 3
print(addition)

8

In [14]:
multiplication = 25 * 3
print(multiplication)

75

In [15]:
division = 72 /3 
print(division)

24.0

In [16]:
exponential = 2 ** 4
print(exponential)

16

String Operations

In [17]:
greeting = "Hello" + " " + "World" # Concatenation
print(greeting)

Hello World

In [18]:
first_name = "Chita"
last_name = "Chiamaka"
fullname = first_name + " " + last_name
print(fullname)

Chita Chiamaka

In [21]:
print("my name is", fullname)
print(f"My name is {fullname}, Iam a programmer")

my name is Chita Chiamaka
My name is Chita Chiamaka, Iam a programmer

In [22]:
echo = 'Hi!' * 3
print(echo)

Hi!Hi!Hi!

Boolean Operations

and, or and not

In [23]:
result = True and False # False
result = True or False # True
result = not True # False

Controls Structures

Conditional Statements(if, elif and else)

In [24]:
age = 18
if age >= 18:
    print(f"you are an adult, because your age is {age}")
elif age > 12:
    print(f"you are a teenager, because your age is {age}")
else:
    print(f"you are a child, because your age is {age}")

you are an adult, because your age is 18

In [25]:
age = int(input("please enter your age: "))
if age >= 18:
    print(f"you are an adult, because your age is {age}")
elif age > 12:
    print(f"you are a teenager, because your age is {age}")
else:
    print(f"you are a child, because your age is {age}")

please enter your age:  21

you are an adult, because your age is 21

In [26]:
school_name = 'PORA Academy'
print(school_name)

PORA Academy

In [27]:
print(type(school_name))

<class 'str'>

In [28]:
number = 12345
print(type(number))

<class 'int'>

In [31]:
decimal_number = 45.7890
print(type(decimal_number))

<class 'float'>

### Data Structures

'List': Is an order collection of items that can be of different types

In [32]:
fruits = ['apple', 'banana', 'cherry']
print(fruits)

['apple', 'banana', 'cherry']

In [33]:
print(type(fruits))

<class 'list'>

In [34]:
print(f"The first element in my baskets of fruits is {fruits[0]}")

The first element in my baskets of fruits is apple

In [39]:
print(fruits[0])
print(fruits[1])
print(fruits[2])
print(fruits[-1])

apple
banana
cherry
cherry

In [40]:
print(fruits[-2])

banana

In [41]:
print(fruits[-3])

apple

### Slicing Lists

In [42]:
numbers = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(numbers[2:5]) # output [1,2,3,4]
print(numbers[:4]) # output [0,1,2,3]
print(numbers[5:]) # output [5,6,7,8,9,10]

[2, 3, 4]
[0, 1, 2, 3]
[5, 6, 7, 8, 9, 10]

### Modifying List

In [44]:
print(fruits)

['apple', 'banana', 'cherry']

In [45]:
fruits.append('Pear')
print(fruits)

['apple', 'banana', 'cherry', 'Pear']

In [48]:
fruits.insert(1,"Mango")
print(fruits)

['apple', 'Mango', 'Mango', 'banana', 'cherry', 'Pear']

In [54]:
print(fruits)

['Mango', 'Mango', 'banana', 'cherry', 'Pear']

In [55]:
fruits.insert(0,'apple')
print(fruits)

['apple', 'Mango', 'Mango', 'banana', 'cherry', 'Pear']

In [57]:
fruits.remove('apple')

In [58]:
print(fruits)

['Mango', 'Mango', 'banana', 'cherry', 'Pear']

In [60]:
fruits.pop()

'Pear'

In [62]:
fruits[0] = 'orange'

In [63]:
print(fruits)

['orange', 'Mango', 'banana', 'cherry']

In [64]:
more_fruits = ["grape", "pineapple"]
all_fruits = fruits + more_fruits
print(all_fruits)

['orange', 'Mango', 'banana', 'cherry', 'grape', 'pineapple']

### for Loop

In [68]:
for fruits in all_fruits:
    print(fruits)

orange
Mango
banana
cherry
grape
pineapple

In [65]:
print(len(all_fruits))

6

In [69]:
enugu_mlr_brethren = ['Chidinma', 'Chiamaka', 'emeka', 'chima', 'chinedu']
for brethren in enugu_mlr_brethren:
    print(f"{brethren} bring your plate to collect food")

Chidinma bring your plate to collect food
Chiamaka bring your plate to collect food
emeka bring your plate to collect food
chima bring your plate to collect food
chinedu bring your plate to collect food

In [70]:
# Loop using  rangen()
for i in range (5):
    print(i)

0
1
2
3
4

In [71]:
for char in "chiamaka":
    print(char)

c
h
i
a
m
a
k
a

### Tuples

Tuple are similar to list, but tuples are imutable, it cannot change

In [74]:
gender = ("male", "female")
print(type(gender))

<class 'tuple'>

In [75]:
dimensions = (1920, 1080)
print(type(dimensions))

<class 'tuple'>

### 'Dictionaries' : key-value

In [76]:
student = {
    "name": "Chita",
    "age": 31,
    "course": "Machine Learning",
    "gender": "female",
    "location": "Onitsha"
}

In [77]:
print(student)

{'name': 'Chita', 'age': 31, 'course': 'Machine Learning', 'gender': 'female', 'location': 'Onitsha'}

In [78]:
print(student["name"])

Chita

In [80]:
print(f"{student["name"]} age is {student["age"]} ")

Chita age is 31

### Set

A Set is an unorder collection of unique element

In [81]:
unique_numbers = {1, 2, 3, 4, 4,5, 5, 5}
print(unique_numbers)

{1, 2, 3, 4, 5}

In [82]:
print(type(unique_numbers))

<class 'set'>

### While Loop

 ### while condition:
   ### do something
    ###  when to stop

In [85]:
count = 0
while count < 5:
    print(count)
    count += 1 # count = count +1

0
1
2
3
4

In [89]:
response = ""
while response != "exit":
    response = input("Type 'exit' to quit: ")
    print("you typed" + response)

Type 'exit' to quit:  kkk

you typedkkk

Type 'exit' to quit:   kjj

you typed kjj

Type 'exit' to quit:  exit

you typedexit